# Proyecto GCP de destino
PROJECT_ID=proyectopersonal-480420

# Dataset único para catálogos, maestros y transacciones de origen
DATASET_ID=seguros_origen

# Debe coincidir con la ubicación usada por BigQuery
BQ_LOCATION=US

# Identificador técnico de la ejecución
GENERATION_VERSION=v1
